n8n_workflows/archive/7tv_censor_emotes_add_to_the_emote_set.json
{
  "name": "7tv_censor_emotes_add_to_the_emote_set",
  "nodes": [
    {
      "parameters": {},
      "id": "06632902-64cb-4a94-a1b3-24fed62c2244",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [610, 620]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1lMA5pCqhZzc9pra125JNmqgIJfi9rXdRaolwHvlq4fY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "most common words",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lMA5pCqhZzc9pra125JNmqgIJfi9rXdRaolwHvlq4fY/edit#gid=0"
        },
        "options": {}
      },
      "id": "df7375fa-c5d5-4345-8d73-018bb377252e",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [790, 620],
      "credentials": {
        "googleApi": {
          "id": "lewjvX7iVXgJ0GW3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lMA5pCqhZzc9pra125JNmqgIJfi9rXdRaolwHvlq4fY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "most common words",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lMA5pCqhZzc9pra125JNmqgIJfi9rXdRaolwHvlq4fY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Sort').item.json.Name }}",
            "added to the emotes set?": "1"
          },
          "matchingColumns": ["Name"],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "7tv emote URL",
              "displayName": "7tv emote URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "listed?",
              "displayName": "listed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "added to the emotes set?",
              "displayName": "added to the emotes set?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "5199e038-ce21-4989-8524-5533c148f755",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [970, 860],
      "credentials": {
        "googleApi": {
          "id": "lewjvX7iVXgJ0GW3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {
          "reset": false
        }
      },
      "id": "29a56fd7-ba7a-44f5-93be-08e96101a53e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1430, 620]
    },
    {
      "parameters": {},
      "id": "b8c62f09-0efd-4796-8a75-594fbaaeea47",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1690, 600]
    },
    {
      "parameters": {
        "content": "### Background",
        "height": 638,
        "width": 1503,
        "color": 7
      },
      "id": "1f0763d6-91fe-4194-8ce1-d055af39ae0c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [460, 460]
    },
    {
      "parameters": {
        "content": "# 7tv censor emotes add to the emote set",
        "height": 527,
        "width": 1385,
        "color": 5
      },
      "id": "e597f096-cb24-4f14-9465-02725943fa66",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [530, 520]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "row_number",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "8dea970e-a82c-408a-9b9c-2e4ebc4a2184",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [1230, 620]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://7tv.io/v3/gql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:126.0) Gecko/20100101 Firefox/126.0"
            },
            {
              "name": "Accept",
              "value": "*/*"
            },
            {
              "name": "Accept-Language",
              "value": "en,ru;q=0.5"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br, zstd"
            },
            {
              "name": "Referer",
              "value": "https://7tv.app/"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1IjoiNjYxZDgzN2JjM2ZkZDg4MmU4ZTcwOGZmIiwidiI6MSwiaXNzIjoic2V2ZW50di1hcGkiLCJleHAiOjE3MjE4ODAwNTgsIm5iZiI6MTcxNDEwNDA1OCwiaWF0IjoxNzE0MTA0MDU4fQ.Xbd9YbCMrI_RMXzmZ9yR46iMP15HYwXyWp9lEL5w1Nw"
            },
            {
              "name": "Origin",
              "value": "https://7tv.app"
            },
            {
              "name": "DNT",
              "value": "1"
            },
            {
              "name": "Sec-GPC",
              "value": "1"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Sec-Fetch-Dest",
              "value": "empty"
            },
            {
              "name": "Sec-Fetch-Mode",
              "value": "cors"
            },
            {
              "name": "Sec-Fetch-Site",
              "value": "cross-site"
            },
            {
              "name": "Priority",
              "value": "u=1"
            },
            {
              "name": "TE",
              "value": "trailers"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"query\":\"mutation ChangeEmoteInSet($id: ObjectID!, $action: ListItemAction!, $emote_id: ObjectID!, $name: String) {\\n emoteSet(id: $id) {\\n id\\n emotes(id: $emote_id, action: $action, name: $name) {\\n id\\n name\\n __typename\\n }\\n __typename\\n }\\n}\",\"variables\":{\"action\":\"ADD\",\"id\":\"661d84a17e70254f21bf4a0c\",\"emote_id\":\"{{ $json['7tv emote URL'] }}\",\"name\":\"{{ $json.Name }}\"}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "a30a585f-20a7-4987-9770-18d275de9eec",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [790, 860]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "66076c2a-ea1a-4b0d-963f-495f1d822cbb",
              "leftValue": "={{ $json['added to the emotes set?'] }}",
              "rightValue": 4,
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3b4380fb-8632-4f33-906a-d91ea43790e7",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [970, 620],
      "onError": "continueRegularOutput"
    }
  ],"connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "f0cfb8b4-5b4f-4cc2-98ce-99798a026a71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca3e26fe66692686fea99a2ff03654b1801275568b864201724e6f6c1d03de1f"
  },
  "id": "7jQIqaFW7hVRz7Dz",
  "tags": []
}
