n8n_workflows/archive/7tv_censor_emote_status_check.json
{
  "name": "7tv_censor_emote_status_check",
  "nodes": [
    {
      "parameters": {},
      "id": "f2a08cdd-15dc-4ed9-996e-5505f706a633",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [1370, 980]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1lMA5pCqhZzc9pra125JNmqgIJfi9rXdRaolwHvlq4fY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "most common words",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lMA5pCqhZzc9pra125JNmqgIJfi9rXdRaolwHvlq4fY/edit#gid=0"
        },
        "options": {}
      },
      "id": "ffe3fa20-5fc0-49b0-a895-344f10a67ca0",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [1550, 980],
      "credentials": {
        "googleApi": {
          "id": "lewjvX7iVXgJ0GW3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "66076c2a-ea1a-4b0d-963f-495f1d822cbb",
              "leftValue": "={{ $json['7tv emote URL'] }}",
              "rightValue": 4,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0355e433-7040-4414-a188-346b66876076",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1730, 980]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lMA5pCqhZzc9pra125JNmqgIJfi9rXdRaolwHvlq4fY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "most common words",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lMA5pCqhZzc9pra125JNmqgIJfi9rXdRaolwHvlq4fY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Sort').item.json.Name }}",
            "listed?": "={{ $json.listed }}"
          },
          "matchingColumns": ["Name"],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "7tv emote URL",
              "displayName": "7tv emote URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "listed?",
              "displayName": "listed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "58dd63a2-a64e-4fdc-8199-275ffb138165",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [1730, 1220],
      "credentials": {
        "googleApi": {
          "id": "lewjvX7iVXgJ0GW3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {
          "reset": false
        }
      },
      "id": "3e7e30c2-49bc-4fd4-903a-ca1c3cfb783f",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2190, 980]
    },
    {
      "parameters": {},
      "id": "fbb08d72-5f78-4caf-8259-eb797d5a0ae5",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2450, 960]
    },
    {
      "parameters": {
        "content": "### Background",
        "height": 638,
        "width": 1503,
        "color": 7
      },
      "id": "3c393373-19c8-459c-a428-84a0a4a43c99",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1220, 820]
    },
    {
      "parameters": {
        "content": "# 7tv redacted emote status check",
        "height": 527,
        "width": 1385,
        "color": 5
      },
      "id": "198819b9-26bc-42a0-b86d-a8b3a6f1d0fb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1290, 880]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "row_number",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "8c00ad3d-83fb-4b52-9496-c15b77399dc9",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [1990, 980]
    },
    {
      "parameters": {
        "url": "=https://7tv.io/v3/emotes/{{ $json['7tv emote URL'] }}",
        "options": {}
      },
      "id": "7389aa97-b9b8-4c33-9aa2-f98adfbaf755",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1550, 1220]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "bbcc7432-9c80-4d7c-a237-5b6ea40916b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca3e26fe66692686fea99a2ff03654b1801275568b864201724e6f6c1d03de1f"
  },
  "id": "9upbVcx35n3uBTZj",
  "tags": []
}
