n8n_workflows/archive/Dunkbin_stats_cosmetics_images_V7.json
{
  "name": "Dunkbin_stats_cosmetics_images_V7",
  "nodes": [
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "https://dunkbin.com/export/cosmetics",
        "options": {
          "splitIntoItems": true
        }
      },
      "name": "Consume Cosmetics API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        760,
        620
      ],
      "id": "70f7fc86-702d-420e-bc1c-8a776a309df5",
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "J0croxqJRHrzjspr",
          "name": "dunkbin api"
        }
      },
      "notes": "Get JSON with cosmetics"
    },
    {
      "parameters": {
        "operation": "sort",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "name": "Sort cosmetics by id from newest to oldest",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        940,
        620
      ],
      "id": "248d69a0-8e79-4b0d-be02-a0e25e2470b1"
    },
    {
      "parameters": {
        "command": "=cd /home/node/git/dunkbin-stats-images && git config user.email \"itswuote@gmail.com\" && git config user.name \"WUOTE\" && git pull && git fetch && git status"
      },
      "id": "41caee7d-863c-44e4-bdd4-66cdfd407bc3",
      "name": "git status",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1300,
        840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.id }}",
              "operation": "larger"
            },
            {
              "value1": "={{ $json[\"id\"].toString().length() }}",
              "operation": "largerEqual",
              "value2": 1
            }
          ]
        }
      },
      "id": "a43c1d16-2d0e-44aa-b52d-4e1e984c92e6",
      "name": "Dont process one broken cosmetic",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1120,
        620
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "44ebd918-f749-4b3c-9d3f-72e6b11ce37f",
      "name": "Set today's date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        940,
        840
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "yyyy-MM-dd",
        "options": {}
      },
      "id": "008eacbc-9109-4099-bf27-e0269999f0dd",
      "name": "YYYY-MM-DD",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1120,
        840
      ],
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "fa4cf9e0-bb07-4ea2-8679-ea3f5162e987",
      "name": "Do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1880,
        600
      ]
    },
    {
      "parameters": {
        "command": "=cd /home/node/git/dunkbin-stats-images && git config user.email \"itswuote@gmail.com\" && git config user.name \"WUOTE\" && git add -A && git commit -m \"{{ $('YYYY-MM-DD').item.json.formattedDate }} add {{ $('Dont process one broken cosmetic').item.json.name }}\""
      },
      "id": "4d1d52ce-2c79-44b1-9f08-9273801bdd35",
      "name": "git commit + push",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1700,
        860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Dont process one broken cosmetic').item.json.md5 }}",
              "value2": "={{ $json.stdout }}"
            }
          ]
        }
      },
      "id": "f1ca9f49-474e-407d-929f-4ff1a0d1f209",
      "name": "Are images the same?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        620
      ],
      "notesInFlow": true,
      "notes": "Has the image on Dunkbin been changed?"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=cd /home/node/git/dunkbin-stats-images/public/img && md5sum {{$json[\"id\"]}}.png | awk '{split($0,a); print a[1];}'"
      },
      "name": "MD5 - File on Disk",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1300,
        620
      ],
      "id": "573f15ff-f0c9-4250-b3ef-10cf91c419df"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "notContains",
              "value2": "to include in what will be committed"
            }
          ]
        }
      },
      "id": "176d1ead-52a2-47de-a8ff-877abd18669f",
      "name": "Local copy is in sync with the remote server?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        840
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=wget -O /home/node/git/dunkbin-stats-images/public/img/{{ $('Dont process one broken cosmetic').item.json.id }}.png https://dunkbin.com/img/{{ $('Dont process one broken cosmetic').item.json.id }}-{{ $('Dont process one broken cosmetic').item.json.md5 }}.png"
      },
      "name": "Download new image using wget",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        760,
        840
      ],
      "id": "503d71d3-5ad8-47c0-bb42-888e6f0f9b13"
    },
    {
      "parameters": {
        "authentication": "gitPassword",
        "operation": "push",
        "repositoryPath": "/home/node/git/dunkbin-stats-images",
        "options": {
          "targetRepository": "https://github.com/WUOTE/dunkbin-stats-images"
        }
      },
      "id": "3f50ade5-7c28-45da-8089-fd347a10ecab",
      "name": "Git",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1880,
        860
      ],
      "credentials": {
        "gitPassword": {
          "id": "RpzpCFgnoIGkL6Wx",
          "name": "Git account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Dunkbin_stats_cosmetics_images_V7",
        "height": 532.2912987791854,
        "width": 1598.186186393608,
        "color": 5
      },
      "id": "6e108429-6b95-45f9-87d1-b363087fba6b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        540
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 23
            }
          ]
        }
      },
      "name": "Cron For Hourly Execution",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        580,
        620
      ],
      "id": "7b0f1324-bca3-48ef-8f10-af27d9c1c03f",
      "notesInFlow": false
    },
    {
      "parameters": {
        "content": "### Background",
        "height": 636.216823153098,
        "width": 1703.9002842635657,
        "color": 7
      },
      "id": "2c251eb0-d936-418c-9242-4f381749359f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Consume Cosmetics API": {
      "main": [
        [
          {
            "node": "Sort cosmetics by id from newest to oldest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort cosmetics by id from newest to oldest": {
      "main": [
        [
          {
            "node": "Dont process one broken cosmetic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dont process one broken cosmetic": {
      "main": [
        [
          {
            "node": "MD5 - File on Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MD5 - File on Disk": {
      "main": [
        [
          {
            "node": "Are images the same?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are images the same?": {
      "main": [
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download new image using wget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set today's date": {
      "main": [
        [
          {
            "node": "YYYY-MM-DD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YYYY-MM-DD": {
      "main": [
        [
          {
            "node": "git status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git status": {
      "main": [
        [
          {
            "node": "Local copy is in sync with the remote server?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local copy is in sync with the remote server?": {
      "main": [
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "git commit + push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download new image using wget": {
      "main": [
        [
          {
            "node": "Set today's date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git commit + push": {
      "main": [
        [
          {
            "node": "Git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron For Hourly Execution": {
      "main": [
        [
          {
            "node": "Consume Cosmetics API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "xcLOCUzPhmHsxqnG"
  },
  "versionId": "9cffd864-fbdb-45fa-ae76-537932215166",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7abfd7e3c51c365d643e40a4fd71d0b02791ab6c37973171eb645ec3142ecf86"
  },
  "id": "K4ZtD49Hp1yWuxM4",
  "tags": []
}