n8n_workflows/archive/Dunkbin_stats_cosmetics_images_V2.json
{
  "name": "Dunkbin_stats_cosmetics_images_V2",
  "nodes": [
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "https://dunkbin.com/export/cosmetics",
        "options": {
          "splitIntoItems": true
        }
      },
      "name": "Consume Cosmetics API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        703.0364323560339,
        514.3117295526242
      ],
      "id": "76743143-06b9-460a-b877-7bf5152d22d6",
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "ghp5lf78MAfHsn67",
          "name": "Dunkbin API"
        }
      },
      "notes": "Get JSON with cosmetics"
    },
    {
      "parameters": {
        "operation": "sort",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "name": "Sort cosmetics by id from newest to oldest",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        883.0364323560339,
        514.3117295526242
      ],
      "id": "2ad40e09-2a74-4aed-b410-24e5d0ef28dc"
    },
    {
      "parameters": {
        "url": "=https://dunkbin.com/img/{{ $json.id }}.png",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 25,
              "batchInterval": 63000
            }
          },
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "620f81b1-87f5-4080-ae88-c9ea02f305b3",
      "name": "Download image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1423.0364323560339,
        494.31172955262423
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "=cd ~/git/dunkbin-stats-images && git pull && git fetch && git status"
      },
      "id": "934d670c-cbdf-4cb7-8cff-92a071fe4fac",
      "name": "git status",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1243.0364323560339,
        954.3117295526242
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.id }}",
              "operation": "larger"
            },
            {
              "value1": "={{ $json[\"id\"].toString().length() }}",
              "operation": "largerEqual",
              "value2": 1
            }
          ]
        }
      },
      "id": "61bbadf5-bcbd-4412-9a5b-4755edae1197",
      "name": "Dont process one broken cosmetic",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1063.0364323560339,
        514.3117295526242
      ]
    },
    {
      "parameters": {
        "batchSize": 25,
        "options": {}
      },
      "id": "09c23c25-3aa4-4ff5-8d71-c241f0c830f6",
      "name": "API allows burts of 25 requests at a time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1243.0364323560339,
        514.3117295526242
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d705fe77-0420-43bf-99da-ae46b4d1a1df",
      "name": "Set today's date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        883.0364323560339,
        954.3117295526242
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "yyyy-MM-dd",
        "options": {}
      },
      "id": "2ebbab5b-5f8e-44b0-8fd0-a42805a3b503",
      "name": "YYYY-MM-DD",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1063.0364323560339,
        954.3117295526242
      ],
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "bf0b15fd-5097-450b-b1f6-8ac0ee01f49b",
      "name": "Do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1603.0364323560339,
        714.3117295526242
      ]
    },
    {
      "parameters": {
        "command": "=cd ~/git/dunkbin-stats-images && git add -A && git commit -m \"{{ $('YYYY-MM-DD').item.json.formattedDate }} add {{ $('Dont process one broken cosmetic').item.json.name }}\" && git push   "
      },
      "id": "6ca1abc3-af83-4a14-a103-79299e00176f",
      "name": "git commit + push",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1603.0364323560339,
        974.3117295526242
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('MD5 - File from Dunkbin').item.json['Hash from Request'] }}",
              "value2": "={{ $json.stdout }}"
            }
          ]
        }
      },
      "id": "45b8ff5c-9af5-4d0d-b68f-31cd77535a6b",
      "name": "Are images the same?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1063.0364323560339,
        734.3117295526242
      ],
      "notesInFlow": true,
      "notes": "Has the image on Dunkbin been changed?"
    },
    {
      "parameters": {
        "binaryData": true,
        "dataPropertyName": "Hash from Request"
      },
      "id": "f25ee4fa-aa2b-4528-a103-fe10acce7967",
      "name": "MD5 - File from Dunkbin",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        703.0364323560339,
        734.3117295526242
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=cd ~/git/dunkbin-stats-images/public/img && md5sum {{$json[\"id\"]}}.png | awk '{split($0,a); print a[1];}'"
      },
      "name": "MD5 - File on Disk",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        883.0364323560339,
        734.3117295526242
      ],
      "id": "f49feefc-32fb-481d-b45c-bd520bca7ef1"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "notContains",
              "value2": "to include in what will be committed"
            }
          ]
        }
      },
      "id": "fcfd741f-52da-4a46-a7dc-b4889f7157d6",
      "name": "Local copy is in sync with the remote server?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1423.0364323560339,
        954.3117295526242
      ]
    },
    {
      "parameters": {
        "content": "![](https://dunkbinstats.runfast.stream/background/background.png#full-width)",
        "height": 695.7937145968119,
        "width": 1349.284182662264
      },
      "id": "84b98d05-244f-4fd4-a0d0-ef6a114aaad5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=wget -O ~/git/dunkbin-stats-images/public/img/{{ $('Download image').item.json.id }}.png https://dunkbin.com/img/{{ $('Download image').item.json.id }}.png"
      },
      "name": "Download new image using wget",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        703.0364323560339,
        954.3117295526242
      ],
      "id": "ddcf8e86-3a91-47f3-b5e7-445edba75b9e"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 23
            }
          ]
        }
      },
      "name": "Cron For Hourly Execusion",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        523.0364323560339,
        514.3117295526242
      ],
      "id": "d05b0cc5-01b2-4842-8989-f220b0d6a639",
      "notesInFlow": false
    }
  ],"connections": {
    "Consume Cosmetics API": {
      "main": [
        [
          {
            "node": "Sort cosmetics by id from newest to oldest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort cosmetics by id from newest to oldest": {
      "main": [
        [
          {
            "node": "Dont process one broken cosmetic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dont process one broken cosmetic": {
      "main": [
        [
          {
            "node": "API allows burts of 25 requests at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API allows burts of 25 requests at a time": {
      "main": [
        [
          {
            "node": "Download image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MD5 - File from Dunkbin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download image": {
      "main": [
        [
          {
            "node": "API allows burts of 25 requests at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MD5 - File from Dunkbin": {
      "main": [
        [
          {
            "node": "MD5 - File on Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MD5 - File on Disk": {
      "main": [
        [
          {
            "node": "Are images the same?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are images the same?": {
      "main": [
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download new image using wget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set today's date": {
      "main": [
        [
          {
            "node": "YYYY-MM-DD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YYYY-MM-DD": {
      "main": [
        [
          {
            "node": "git status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git status": {
      "main": [
        [
          {
            "node": "Local copy is in sync with the remote server?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local copy is in sync with the remote server?": {
      "main": [
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "git commit + push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download new image using wget": {
      "main": [
        [
          {
            "node": "Set today's date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron For Hourly Execusion": {
      "main": [
        [
          {
            "node": "Consume Cosmetics API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Bishkek",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "80c8a314-5249-40a6-9180-a20c5ce0d7c5",
  "id": "zhO6sbCmPOqMGgaU",
  "meta": {
    "instanceId": "885fa0d4209e1dc2b8c762e0c7afc069667d06fa829bf5c8578d01641fbb9a6d"
  },
  "tags": [
    {
      "createdAt": "2023-11-09T11:40:59.340Z",
      "updatedAt": "2023-11-09T11:40:59.340Z",
      "id": "901WEvMoiqiL1X43",
      "name": "dunkbin"
    }
  ]
}