n8n_workflows/archive/Dunkbin_backlog.json
{
  "name": "Dunkbin backlog",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Cosmetic title/notes'] }}",
              "operation": "notEqual",
              "value2": "formula row"
            }
          ]
        }
      },
      "id": "1b3172a5-bc57-4247-a379-85b9f99ccd65",
      "name": "Remove \"Formula row\"",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        880,
        520
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "55bd81e8-1c87-4545-b967-fc011fa30462",
      "name": "Get Current Date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1060,
        1160
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "yyyy-MM-dd",
        "options": {}
      },
      "id": "f5133d99-f3ff-4584-89cf-639d256f80a1",
      "name": "Format Date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1240,
        1160
      ]
    },
    {
      "parameters": {
        "command": "=cd /home/node/git/dunkbin-stats-images && git config user.email \"itswuote@gmail.com\" && git config user.name \"WUOTE\" && git add -A && git commit -m \"{{ $json.formattedDate }} update cosmetic backlog\" && git push"
      },
      "id": "3fda370d-d3e2-452f-9cfb-3d44ce966587",
      "name": "Git Push",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1420,
        1160
      ]
    },
    {
      "parameters": {
        "content": "![](https://dunkbinstats.runfast.stream/background/background.png#full-width)",
        "height": 903.3784147520192,
        "width": 1183.760488375219
      },
      "id": "9914c096-d8a0-4102-bf2c-0b0ccca5fcd3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=md5sum /home/node/git/dunkbin-stats-images/public/sheets/dunkbin_backlog.xlsx | awk '{split($0,a); print a[1];}'"
      },
      "name": "MD5 - File on Disk",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        880,
        720
      ],
      "id": "83bd48ed-7d83-4c26-8c6b-30c9ad696d29"
    },
    {
      "parameters": {},
      "id": "171bd340-4d85-4b48-8f48-d724bdd24d2a",
      "name": "Do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1420,
        700
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1VscyNGvC_S4mRg_6uMscdXxTDPA1hjEIRkJPOcZjMaQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 459958810,
          "mode": "list",
          "cachedResultName": "Backlog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VscyNGvC_S4mRg_6uMscdXxTDPA1hjEIRkJPOcZjMaQ/edit#gid=459958810"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "id": "241b5ca5-fb69-43bf-8888-038d45838563",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        700,
        520
      ],
      "credentials": {
        "googleApi": {
          "id": "PfVPCAHWDVyYiUWG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "binaryData": true,
        "dataPropertyName": "Hash from Request"
      },
      "id": "025222c5-a28f-49f3-9899-9a2cd5e46497",
      "name": "MD5 - File from Google Sheets",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        700,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('MD5 - File from Google Sheets').item.json['Hash from Request'] }}",
              "value2": "={{ $json.stdout }}"
            }
          ]
        }
      },
      "id": "ca2c5408-a422-4421-8b95-a51541409294",
      "name": "Are Spritesheets Identical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1060,
        720
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "command": "=cd /home/node/git/dunkbin-stats-images && git pull && git fetch && git status"
      },
      "id": "83f48309-1fb4-4e69-98f9-974521f81523",
      "name": "Git Pull + Fetch + Status",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        880,
        1160
      ]
    },
    {
      "parameters": {
        "fileName": "/home/node/git/dunkbin-stats-images/public/sheets/dunkbin_backlog.xlsx",
        "options": {
          "append": false
        }
      },
      "id": "b776adc1-8d5d-4b3e-b74d-7ed66f8e471c",
      "name": "Save Spritesheet to Disk",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        700,
        1160
      ]
    },
    {
      "parameters": {
        "operation": "sort",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "['Added on']",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "851c898a-9367-4ad0-8dd1-91c172a0bfb6",
      "name": "Sort by Added from New to Old",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1060,
        520
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1VscyNGvC_S4mRg_6uMscdXxTDPA1hjEIRkJPOcZjMaQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 459958810,
          "mode": "list",
          "cachedResultName": "Backlog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VscyNGvC_S4mRg_6uMscdXxTDPA1hjEIRkJPOcZjMaQ/edit#gid=459958810"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "id": "9da9b47f-b976-4ff6-8594-99a42de5cdee",
      "name": "Re-read Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        700,
        960
      ],
      "credentials": {
        "googleApi": {
          "id": "PfVPCAHWDVyYiUWG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Cosmetic title/notes'] }}",
              "operation": "notEqual",
              "value2": "formula row"
            }
          ]
        }
      },
      "id": "d992f9a7-66b6-4c6a-99e8-bac4e6e15996",
      "name": "Re-remove \"Formula row\"",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        880,
        960
      ]
    },
    {
      "parameters": {
        "operation": "sort",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "['Added on']",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "e07ab5fb-a54e-4275-a439-4dbc8397054d",
      "name": "Re-sort by Added from New to Old",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1060,
        960
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "id": "95770231-2358-4a6b-9bb3-7612e00172bc",
      "name": "Cron For Hourly Execusion",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        520,
        520
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "compression": false,
          "fileName": "/home/node/git/dunkbin-stats-images/dunkbin_backlog",
          "headerRow": true,
          "sheetName": "Backlog"
        }
      },
      "id": "8794313d-981b-435c-ab71-b29e05eedfb8",
      "name": "Save to Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        1240,
        520
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "compression": false,
          "fileName": "/home/node/git/dunkbin-stats-images/dunkbin_backlog",
          "headerRow": true,
          "sheetName": "Backlog"
        }
      },
      "id": "3e845797-53a3-4185-ab7f-8d470293369e",
      "name": "Re-save to Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        1240,
        960
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Remove \"Formula row\"": {
      "main": [
        [
          {
            "node": "Sort by Added from New to Old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Date": {
      "main": [
        [
          {
            "node": "Format Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Date": {
      "main": [
        [
          {
            "node": "Git Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MD5 - File on Disk": {
      "main": [
        [
          {
            "node": "Are Spritesheets Identical?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Remove \"Formula row\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are Spritesheets Identical?": {
      "main": [
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Re-read Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Pull + Fetch + Status": {
      "main": [
        [
          {
            "node": "Get Current Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Spritesheet to Disk": {
      "main": [
        [
          {
            "node": "Git Pull + Fetch + Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Added from New to Old": {
      "main": [
        [
          {
            "node": "Save to Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-read Google Sheets": {
      "main": [
        [
          {
            "node": "Re-remove \"Formula row\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-remove \"Formula row\"": {
      "main": [
        [
          {
            "node": "Re-sort by Added from New to Old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron For Hourly Execusion": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Spreadsheet File": {
      "main": [
        [
          {
            "node": "MD5 - File from Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MD5 - File from Google Sheets": {
      "main": [
        [
          {
            "node": "MD5 - File on Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-sort by Added from New to Old": {
      "main": [
        [
          {
            "node": "Re-save to Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-save to Spreadsheet File": {
      "main": [
        [
          {
            "node": "Save Spritesheet to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a4c92bac-98de-46a7-ad4e-04519ba7d48f",
  "id": "1KOzuwrp6HCaEyEh",
  "meta": {
    "instanceId": "c61e0e3e352f4fb3eec73f12593a7bab561e3f4a1e80e6277ec4fb62e761252b"
  },
  "tags": [
    {
      "createdAt": "2023-12-31T00:25:26.596Z",
      "updatedAt": "2023-12-31T00:25:26.596Z",
      "id": "SAvNJ3UYpYOh6u0P",
      "name": "dunkbin"
    }
  ]
}