n8n_workflows/archive/Dunkbin_backlog.json
{
  "name": "Dunkbin_backlog",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Cosmetic title/notes'] }}",
              "operation": "notEqual",
              "value2": "formula row"
            }
          ]
        }
      },
      "id": "6e683a9d-fb48-4ab3-b081-92e1d323bbbe",
      "name": "Remove \"Formula row\"",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1380,
        380
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "fileName": "~/git/dunkbin-stats-images/dunkbin_backlog",
          "sheetName": "Backlog"
        }
      },
      "id": "12717c6c-3a2f-41f3-bf46-5ff404d7ce6c",
      "name": "Save to Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        1740,
        380
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "996fb94d-dfa3-4c58-b7a4-3c7abf2a9fc1",
      "name": "Get Current Date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1560,
        1020
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "yyyy-MM-dd",
        "options": {}
      },
      "id": "e1e01872-62aa-4bda-82ae-a5baf653e90c",
      "name": "Format Date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1740,
        1020
      ]
    },
    {
      "parameters": {
        "command": "=cd ~/git/dunkbin-stats-images && git add -A && git commit -m \"{{ $json.formattedDate }} update cosmetic backlog\" && git push   "
      },
      "id": "c68fb383-0f8f-4d24-807d-a963a65c5195",
      "name": "Git Push",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1920,
        1020
      ]
    },
    {
      "parameters": {
        "content": "![](https://dunkbinstats.runfast.stream/background/background.png#full-width)",
        "height": 903.3784147520192,
        "width": 1183.760488375219
      },
      "id": "d88efc25-6af1-483a-b27f-34e72afea808",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        320
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=cd ~/git/dunkbin-stats-images/public/sheets && md5sum dunkbin_backlog.xlsx | awk '{split($0,a); print a[1];}'"
      },
      "name": "MD5 - File on Disk",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1380,
        580
      ],
      "id": "35a802e4-e72a-4a5b-9c0c-31ad00f66568"
    },
    {
      "parameters": {},
      "id": "761fb056-cc33-4d16-a541-4177435292e0",
      "name": "Do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1920,
        560
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1VscyNGvC_S4mRg_6uMscdXxTDPA1hjEIRkJPOcZjMaQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 459958810,
          "mode": "list",
          "cachedResultName": "Backlog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VscyNGvC_S4mRg_6uMscdXxTDPA1hjEIRkJPOcZjMaQ/edit#gid=459958810"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "id": "64150643-6461-41f7-977b-c9b26ac2371c",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1200,
        380
      ],
      "credentials": {
        "googleApi": {
          "id": "r3AKxz8lpaOgzdUi",
          "name": "Wuote Service acc"
        }
      }
    },
    {
      "parameters": {
        "binaryData": true,
        "dataPropertyName": "Hash from Request"
      },
      "id": "62a19158-5d0a-4b76-8511-8bfd320c4c0c",
      "name": "MD5 - File from Google Sheets",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1200,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('MD5 - File from Google Sheets').item.json['Hash from Request'] }}",
              "value2": "={{ $json.stdout }}"
            }
          ]
        }
      },
      "id": "1a03aa2c-29e2-4e6c-99ad-c6c47b7ad258",
      "name": "Are Spritesheets Identical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        580
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "command": "=cd ~/git/dunkbin-stats-images && git pull && git fetch && git status"
      },
      "id": "3400752a-7b9c-450b-9e0a-f07dcc2663e6",
      "name": "Git Pull + Fetch + Status",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1380,
        1020
      ]
    },
    {
      "parameters": {
        "fileName": "git/dunkbin-stats-images/public/sheets/dunkbin_backlog.xlsx",
        "options": {
          "append": false
        }
      },
      "id": "1aa4c7bb-ac7f-471c-81ef-782fa176d4bb",
      "name": "Save Spritesheet to Disk",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1200,
        1020
      ]
    },
    {
      "parameters": {
        "operation": "sort",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "['Added on']",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "e20c0f95-4f5c-4c3d-939b-96e9efd47206",
      "name": "Sort by Added from New to Old",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1560,
        380
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1VscyNGvC_S4mRg_6uMscdXxTDPA1hjEIRkJPOcZjMaQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 459958810,
          "mode": "list",
          "cachedResultName": "Backlog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VscyNGvC_S4mRg_6uMscdXxTDPA1hjEIRkJPOcZjMaQ/edit#gid=459958810"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "id": "d689a5cf-f69d-415f-aa33-4de5c1eca9c4",
      "name": "Re-read Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1200,
        820
      ],
      "credentials": {
        "googleApi": {
          "id": "r3AKxz8lpaOgzdUi",
          "name": "Wuote Service acc"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Cosmetic title/notes'] }}",
              "operation": "notEqual",
              "value2": "formula row"
            }
          ]
        }
      },
      "id": "8d46132f-c6cd-4710-b186-5f926e2a3ed8",
      "name": "Re-remove \"Formula row\"",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1380,
        820
      ]
    },
    {
      "parameters": {
        "operation": "sort",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "['Added on']",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "2d7d4890-02e1-48be-b1db-bf0f6cdc56d0",
      "name": "Re-sort by Added from New to Old",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1560,
        820
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "fileName": "~/git/dunkbin-stats-images/public/sheets/dunkbin_backlog",
          "sheetName": "Backlog"
        }
      },
      "id": "098fd0c0-d748-4053-aa86-6750bd862815",
      "name": "Re-save to Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        1740,
        820
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "id": "a68768a0-c62b-4348-bb79-146b2d81979c",
      "name": "Cron For Hourly Execusion",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1020,
        380
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Remove \"Formula row\"": {
      "main": [
        [
          {
            "node": "Sort by Added from New to Old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Spreadsheet File": {
      "main": [
        [
          {
            "node": "MD5 - File from Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Date": {
      "main": [
        [
          {
            "node": "Format Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Date": {
      "main": [
        [
          {
            "node": "Git Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MD5 - File on Disk": {
      "main": [
        [
          {
            "node": "Are Spritesheets Identical?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Remove \"Formula row\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MD5 - File from Google Sheets": {
      "main": [
        [
          {
            "node": "MD5 - File on Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are Spritesheets Identical?": {
      "main": [
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Re-read Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Pull + Fetch + Status": {
      "main": [
        [
          {
            "node": "Get Current Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Spritesheet to Disk": {
      "main": [
        [
          {
            "node": "Git Pull + Fetch + Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Added from New to Old": {
      "main": [
        [
          {
            "node": "Save to Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-read Google Sheets": {
      "main": [
        [
          {
            "node": "Re-remove \"Formula row\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-remove \"Formula row\"": {
      "main": [
        [
          {
            "node": "Re-sort by Added from New to Old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-sort by Added from New to Old": {
      "main": [
        [
          {
            "node": "Re-save to Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-save to Spreadsheet File": {
      "main": [
        [
          {
            "node": "Save Spritesheet to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron For Hourly Execusion": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Bishkek",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5e7301da-00bb-48ea-be64-bd88e7f5f0ad",
  "id": "88CMk0mLTsS55dyA",
  "meta": {
    "instanceId": "885fa0d4209e1dc2b8c762e0c7afc069667d06fa829bf5c8578d01641fbb9a6d"
  },
  "tags": [
    {
      "createdAt": "2023-11-09T11:40:59.340Z",
      "updatedAt": "2023-11-09T11:40:59.340Z",
      "id": "901WEvMoiqiL1X43",
      "name": "dunkbin"
    }
  ]
}