n8n_workflows/7tv_censor_emote_upload.json
{
  "name": "7tv censor emote upload",
  "nodes": [
    {
      "parameters": {},
      "id": "1fb3eced-40d4-4bea-9be6-3f1121180329",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        720,
        360
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1lMA5pCqhZzc9pra125JNmqgIJfi9rXdRaolwHvlq4fY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 129493204,
          "mode": "list",
          "cachedResultName": "400 - general",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lMA5pCqhZzc9pra125JNmqgIJfi9rXdRaolwHvlq4fY/edit#gid=129493204"
        },
        "options": {}
      },
      "id": "01e7a203-31b6-4dd1-b4fb-0e87fd8d37ef",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        900,
        360
      ],
      "credentials": {
        "googleApi": {
          "id": "UvlGvTpFkl9W5stI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "66076c2a-ea1a-4b0d-963f-495f1d822cbb",
              "leftValue": "={{ $json['7tv emote URL'] }}",
              "rightValue": 4,
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4b4724c6-d404-4659-a074-fdec9f50e56a",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1080,
        360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b12032ce-75d4-4dfc-958e-944f9baad38f",
              "name": "emoteName",
              "value": "={{ $json.Name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9bab42c3-2a53-4de7-b6ed-4692507bb41f",
      "name": "set emote name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1340,
        360
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/git/dunkbin-stats-images/public/background/upload.webp",
        "options": {}
      },
      "id": "6d181703-73f2-4362-a1fc-ec28eb60be04",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        700
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "02a29a3a-cbdb-470c-a174-fb31723e8cbd",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "924d4151-6a14-4b4d-ad75-f85b4f2f1ed1",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1080,
        700
      ]
    },
    {
      "parameters": {},
      "id": "75f6d47e-6bd0-4aff-ba4c-4dc110aa88e5",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1340,
        800
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lMA5pCqhZzc9pra125JNmqgIJfi9rXdRaolwHvlq4fY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 129493204,
          "mode": "list",
          "cachedResultName": "400 - general",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lMA5pCqhZzc9pra125JNmqgIJfi9rXdRaolwHvlq4fY/edit#gid=129493204"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('set emote name').item.json.Name }}",
            "7tv emote URL": "={{ $json.id }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "7tv emote URL",
              "displayName": "7tv emote URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "73f5aa77-02d5-42c3-9b50-f7c9937bffec",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1340,
        600
      ],
      "credentials": {
        "googleApi": {
          "id": "UvlGvTpFkl9W5stI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "25b50eb9-48a7-402b-a39c-6253a13c0f93",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1540,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://7tv.io/v3/emotes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-emote-data",
              "value": "={\"name\":\"{{ $('set emote name').item.json.Name }}\",\"flags\":0,\"tags\":[]} "
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        }
      },
      "id": "5b8e111d-8fd0-4410-a26a-1f20c3bfa6cc",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QNYAbfHZpf7owD1c",
          "name": "7tv bearer"
        }
      }
    },
    {
      "parameters": {},
      "id": "ff1a84a9-b50b-497c-93aa-532849da0e1a",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1780,
        340
      ]
    },
    {
      "parameters": {
        "content": "### Background",
        "height": 809,
        "width": 1450,
        "color": 7
      },
      "id": "0bf04e5f-3c32-4cf4-a62e-0d7fae977c4b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        570,
        200
      ]
    },
    {
      "parameters": {
        "content": "# 7tv redacted emote upload",
        "height": 708,
        "width": 1335,
        "color": 5
      },
      "id": "1dd2f6ff-4b3f-4bab-a80e-be3d95484d39",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        634,
        267
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "set emote name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set emote name": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "60391b4a-8b3b-4661-b521-bda30690c966",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62e299dc340739469dba20547b72ab0d2d1aaa309f600ecbdd554e5533c4ae3d"
  },
  "id": "ilSKloIC4rSCMtZa",
  "tags": []
}