n8n_workflows/Dunkbin_stats_cosmetics_images_V2.json
{
  "name": "Dunkbin stats cosmetics images V2",
  "nodes": [
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "https://dunkbin.com/export/cosmetics",
        "options": {
          "splitIntoItems": true
        }
      },
      "name": "Consume Cosmetics API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        560,
        840
      ],
      "id": "1289a2e5-ed5d-4e23-9979-a48168f11e72",
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "cn4Jtb5N2lDwNCA6",
          "name": "Unnamed credential"
        }
      },
      "notes": "Get JSON with cosmetics"
    },
    {
      "parameters": {
        "operation": "sort",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "name": "Sort cosmetics by id from newest to oldest",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        740,
        840
      ],
      "id": "4fac47da-f6c5-4a13-bd16-415922317125"
    },
    {
      "parameters": {
        "url": "=https://dunkbin.com/img/{{ $json.id }}.png",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 25,
              "batchInterval": 63000
            }
          },
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "5b30cb21-29f8-4cb7-a9f5-a996b10084b4",
      "name": "Download image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1280,
        820
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "=cd ~/git/dunkbin-stats-images && git pull && git fetch && git status"
      },
      "id": "f6c5b087-d03c-424f-9b6d-41ed8c99ccbc",
      "name": "git status",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1100,
        1280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.id }}",
              "operation": "larger"
            },
            {
              "value1": "={{ $json[\"id\"].toString().length() }}",
              "operation": "largerEqual",
              "value2": 1
            }
          ]
        }
      },
      "id": "7af22e3e-ad96-409d-aa9f-5e4e1cd972a3",
      "name": "Dont process one broken cosmetic",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        920,
        840
      ]
    },
    {
      "parameters": {
        "batchSize": 25,
        "options": {}
      },
      "id": "6ac34fdb-8658-469f-aabb-1397381d77b3",
      "name": "API allows burts of 25 requests at a time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1100,
        840
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ecf03258-4b25-4d00-83c3-0383eabc2b51",
      "name": "Set today's date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        740,
        1280
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "yyyy-MM-dd",
        "options": {}
      },
      "id": "29604e53-661f-4677-bd4f-eb7072a0190e",
      "name": "YYYY-MM-DD",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        920,
        1280
      ],
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "8bbed640-de62-4f9f-88e8-08f02439b1e8",
      "name": "Do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1460,
        1040
      ]
    },
    {
      "parameters": {
        "command": "=cd ~/git/dunkbin-stats-images && git add -A && git commit -m \"{{ $('YYYY-MM-DD').item.json.formattedDate }} add {{ $('Dont process one broken cosmetic').item.json.name }}\" && git push   "
      },
      "id": "5a23e7cc-401e-4ed8-9092-1d42c371c551",
      "name": "git commit + push",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1460,
        1300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('MD5 - File from Dunkbin').item.json['Hash from Request'] }}",
              "value2": "={{ $json.stdout }}"
            }
          ]
        }
      },
      "id": "3a31cedf-0add-4524-ad54-1b9f5baa5f9a",
      "name": "Are images the same?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        920,
        1060
      ],
      "notesInFlow": true,
      "notes": "Has the image on Dunkbin been changed?"
    },
    {
      "parameters": {
        "binaryData": true,
        "dataPropertyName": "Hash from Request"
      },
      "id": "88e59d1b-167b-4e27-accf-210791864a11",
      "name": "MD5 - File from Dunkbin",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        560,
        1060
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=cd ~/git/dunkbin-stats-images/public/img && md5sum {{$json[\"id\"]}}.png | awk '{split($0,a); print a[1];}'"
      },
      "name": "MD5 - File on Disk",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        740,
        1060
      ],
      "id": "610d2334-c5d5-4ac6-8c4a-591745147faf"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=cd ~/git/dunkbin-stats-images/public/img && sudo curl https://dunkbin.com/img/{{ $('Download image').item.json.id }}.png > {{ $('Download image').item.json.id }}.png"
      },
      "name": "Download new image using curl",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        560,
        1280
      ],
      "id": "d0e021f0-2999-4e16-a9b2-7258e8c0b1f4"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "notContains",
              "value2": "to include in what will be committed"
            }
          ]
        }
      },
      "id": "5b1978e8-b01f-4d90-b85c-c1d45542c237",
      "name": "Local copy is in sync with the remote server?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1280,
        1280
      ]
    },
    {
      "parameters": {
        "content": "![](https://dunkbinstats.runfast.stream/background/background.png#full-width)",
        "height": 695.7937145968119,
        "width": 1349.284182662264
      },
      "id": "765cc1f2-3ac5-43f8-baed-45008a5c9ed2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        316.96356764396614,
        785.6882704473758
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 7,
              "minute": 30
            }
          ]
        }
      },
      "name": " Cron for daily execusion",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        380,
        840
      ],
      "id": "9e12b6cc-0e7a-4ec9-9e6e-e63d1ff689d9",
      "notesInFlow": false
    }
  ],
  "pinData": {},
  "connections": {
    " Cron for daily execusion": {
      "main": [
        [
          {
            "node": "Consume Cosmetics API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consume Cosmetics API": {
      "main": [
        [
          {
            "node": "Sort cosmetics by id from newest to oldest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort cosmetics by id from newest to oldest": {
      "main": [
        [
          {
            "node": "Dont process one broken cosmetic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dont process one broken cosmetic": {
      "main": [
        [
          {
            "node": "API allows burts of 25 requests at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API allows burts of 25 requests at a time": {
      "main": [
        [
          {
            "node": "Download image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MD5 - File from Dunkbin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download image": {
      "main": [
        [
          {
            "node": "API allows burts of 25 requests at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MD5 - File from Dunkbin": {
      "main": [
        [
          {
            "node": "MD5 - File on Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MD5 - File on Disk": {
      "main": [
        [
          {
            "node": "Are images the same?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are images the same?": {
      "main": [
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download new image using curl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download new image using curl": {
      "main": [
        [
          {
            "node": "Set today's date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set today's date": {
      "main": [
        [
          {
            "node": "YYYY-MM-DD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YYYY-MM-DD": {
      "main": [
        [
          {
            "node": "git status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git status": {
      "main": [
        [
          {
            "node": "Local copy is in sync with the remote server?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local copy is in sync with the remote server?": {
      "main": [
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "git commit + push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Bishkek",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "69f7a470-d588-4dfa-a082-2a3f83ba2967",
  "id": "1NMAm51liuqa3TqL",
  "meta": {
    "instanceId": "ca48c5a4c78b329c7c66a0a892fb3e2e2d29235987fa7237066be387e4be1cf0"
  },
  "tags": [
    {
      "createdAt": "2023-08-01T12:49:51.802Z",
      "updatedAt": "2023-08-01T12:49:51.802Z",
      "id": "XrB4f7XZdukuOwdS",
      "name": "dunkbin"
    }
  ]
}