n8n_workflows/Dunkbin_stats_cosmetics_images_V9.json
{
  "name": "Dunkbin_stats_cosmetics_images_V9",
  "nodes": [
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "https://dunkbin.com/export/cosmetics",
        "options": {
          "splitIntoItems": true
        }
      },
      "name": "Consume Cosmetics API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1120, -140],
      "id": "ed6a5edb-e34c-49cc-aacd-08bf27c16501",
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "chO824WeaAOPFP6P",
          "name": "Unnamed credential"
        }
      },
      "notes": "Get JSON with cosmetics"
    },
    {
      "parameters": {
        "operation": "sort",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "name": "Sort cosmetics by id from newest to oldest",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [1320, -140],
      "id": "bfa1a2cc-ef82-4a9c-85c0-19b1f44ce4ed"
    },
    {
      "parameters": {
        "command": "=cd /home/node/git/dunkbin-stats-images && git config user.email \"itswuote@gmail.com\" && git config user.name \"WUOTE\" && git pull && git fetch && git status"
      },
      "id": "1b75e533-3ae8-425e-af3a-ffd27d823040",
      "name": "git status",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1720, 80]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.id }}",
              "operation": "larger"
            },
            {
              "value1": "={{ $json[\"id\"].toString().length() }}",
              "operation": "largerEqual",
              "value2": 1
            }
          ]
        }
      },
      "id": "e982b461-2ef1-4fec-bd9b-d373455212d4",
      "name": "Dont process one broken cosmetic",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [1520, -140]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "924c951a-0928-4cb3-a60d-aa1fbe97d398",
      "name": "Set today's date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [1320, 80],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "yyyy-MM-dd",
        "options": {}
      },
      "id": "47f1bc25-1bf2-48fc-bb9a-211ec1325765",
      "name": "YYYY-MM-DD",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [1520, 80],
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "6415bcd8-c63a-4ffe-a930-2e01cbf49662",
      "name": "Do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2340, -160]
    },
    {
      "parameters": {
        "command": "=cd /home/node/git/dunkbin-stats-images && git config user.email \"itswuote@gmail.com\" && git config user.name \"WUOTE\" && git add -A && git commit -m \"{{ $('YYYY-MM-DD').item.json.formattedDate }} add {{ $('Dont process one broken cosmetic').item.json.name }}\""
      },
      "id": "76d035ee-650a-48bb-b064-7a24c23963a1",
      "name": "git commit + push",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2140, 100]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Dont process one broken cosmetic').item.json.md5 }}",
              "value2": "={{ $json.stdout }}"
            }
          ]
        }
      },
      "id": "3d161dab-6850-4e5d-925d-62431b887a61",
      "name": "Are images the same?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1920, -140],
      "notesInFlow": true,
      "notes": "Has the image on Dunkbin been changed?"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=cd /home/node/git/dunkbin-stats-images/public/img && md5sum {{$json[\"id\"]}}.png | awk '{split($0,a); print a[1];}'"
      },
      "name": "MD5 - File on Disk",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1720, -140],
      "id": "1ddd6649-6da2-4b1e-ac3b-e515ca738d0d"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "notContains",
              "value2": "to include in what will be committed"
            }
          ]
        }
      },
      "id": "58670c44-5225-42ae-9c36-02df2d4b862d",
      "name": "Local copy is in sync with the remote server?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1920, 80]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=wget -O /home/node/git/dunkbin-stats-images/public/img/{{ $('Dont process one broken cosmetic').item.json.id }}.png https://dunkbin.com/img/{{ $('Dont process one broken cosmetic').item.json.id }}-{{ $('Dont process one broken cosmetic').item.json.md5 }}.png"
      },
      "name": "Download new image using wget",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1120, 80],
      "id": "007d0a0a-b0fa-4a8c-a929-0ad45e0983cb"
    },
    {
      "parameters": {
        "authentication": "gitPassword",
        "operation": "push",
        "repositoryPath": "/home/node/git/dunkbin-stats-images",
        "options": {
          "targetRepository": "https://github.com/WUOTE/dunkbin-stats-images"
        }
      },
      "id": "64ab6875-a302-4971-b542-9cea49c1bcfe",
      "name": "Git",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [2340, 100],
      "credentials": {
        "gitPassword": {
          "id": "bx5qDcpBqK7Vv2ko",
          "name": "Git account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Dunkbin_stats_cosmetics_images_V9",
        "height": 532,
        "width": 1698,
        "color": 5
      },
      "id": "cb5443d8-961b-4dbd-98cc-7a873b12f3aa",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [860, -220]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 23
            }
          ]
        }
      },
      "name": "Cron For Hourly Execution",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [920, -140],
      "id": "6199395a-cdb5-45ac-966e-653f82458a7d",
      "notesInFlow": false
    },
    {
      "parameters": {
        "content": "### Background",
        "height": 636,
        "width": 1824,
        "color": 7
      },
      "id": "f07103fb-b2d4-487c-93cd-0cbec8acd343",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [800, -300]
    }
  ],
  "connections": {
    "Consume Cosmetics API": {
      "main": [
        [
          {
            "node": "Sort cosmetics by id from newest to oldest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort cosmetics by id from newest to oldest": {
      "main": [
        [
          {
            "node": "Dont process one broken cosmetic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dont process one broken cosmetic": {
      "main": [
        [
          {
            "node": "MD5 - File on Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MD5 - File on Disk": {
      "main": [
        [
          {
            "node": "Are images the same?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are images the same?": {
      "main": [
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download new image using wget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set today's date": {
      "main": [
        [
          {
            "node": "YYYY-MM-DD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YYYY-MM-DD": {
      "main": [
        [
          {
            "node": "git status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git status": {
      "main": [
        [
          {
            "node": "Local copy is in sync with the remote server?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local copy is in sync with the remote server?": {
      "main": [
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "git commit + push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download new image using wget": {
      "main": [
        [
          {
            "node": "Set today's date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git commit + push": {
      "main": [
        [
          {
            "node": "Git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron For Hourly Execution": {
      "main": [
        [
          {
            "node": "Consume Cosmetics API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "076e2d7f-ffa2-4fe5-a176-391d74340868",
  "meta": {
    "instanceId": "1f235d143bd1a5ecb8d4464d7fc66f0c6baa0cf1295440440f6a213c804330d3"
  },
  "id": "gozCdcr1z2qSnBv6",
  "tags": []
}
