n8n_workflows/Dunkbin_stats_cosmetics_images_V6.json
{
  "name": "Dunkbin_stats_cosmetics_images_V6",
  "nodes": [
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "https://dunkbin.com/export/cosmetics",
        "options": {
          "splitIntoItems": true
        }
      },
      "name": "Consume Cosmetics API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1700,
        440
      ],
      "id": "8d0cf69e-26f2-4ace-a440-d5d493b56307",
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "QHEbvzURbJ7G1Abl",
          "name": "Unnamed credential"
        }
      },
      "notes": "Get JSON with cosmetics"
    },
    {
      "parameters": {
        "operation": "sort",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "name": "Sort cosmetics by id from newest to oldest",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1880,
        440
      ],
      "id": "91971ee2-fdbc-4074-917a-065f532689d5"
    },
    {
      "parameters": {
        "command": "=cd /home/node/git/dunkbin-stats-images && git config user.email \"itswuote@gmail.com\" && git config user.name \"WUOTE\" && git pull && git fetch && git status"
      },
      "id": "6e7f2069-228f-4617-b2da-f273e6d60877",
      "name": "git status",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2240,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.id }}",
              "operation": "larger"
            },
            {
              "value1": "={{ $json[\"id\"].toString().length() }}",
              "operation": "largerEqual",
              "value2": 1
            }
          ]
        }
      },
      "id": "3cd96665-abf7-4e73-a76d-ba47e1b295df",
      "name": "Dont process one broken cosmetic",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        2060,
        440
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9d9c5f6a-a016-434f-8448-fcd317047705",
      "name": "Set today's date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1880,
        660
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "yyyy-MM-dd",
        "options": {}
      },
      "id": "6c061263-28e9-465b-94bd-5ab9fa671b5e",
      "name": "YYYY-MM-DD",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2060,
        660
      ],
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "cc203ca3-8c57-4684-81cf-77d0fbdb273d",
      "name": "Do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2820,
        420
      ]
    },
    {
      "parameters": {
        "command": "=cd /home/node/git/dunkbin-stats-images && git config user.email \"itswuote@gmail.com\" && git config user.name \"WUOTE\" && git add -A && git commit -m \"{{ $('YYYY-MM-DD').item.json.formattedDate }} add {{ $('Dont process one broken cosmetic').item.json.name }}\""
      },
      "id": "c295dab0-631c-43c7-ab21-8fd3743434d2",
      "name": "git commit + push",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2640,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Dont process one broken cosmetic').item.json.md5 }}",
              "value2": "={{ $json.stdout }}"
            }
          ]
        }
      },
      "id": "8ae83b6c-48fd-4e0d-897a-5db956ed632e",
      "name": "Are images the same?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2420,
        440
      ],
      "notesInFlow": true,
      "notes": "Has the image on Dunkbin been changed?"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=cd /home/node/git/dunkbin-stats-images/public/img && md5sum {{$json[\"id\"]}}.png | awk '{split($0,a); print a[1];}'"
      },
      "name": "MD5 - File on Disk",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2240,
        440
      ],
      "id": "2c9ec850-b2f5-4b73-98f0-4634b375b6a8"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "notContains",
              "value2": "to include in what will be committed"
            }
          ]
        }
      },
      "id": "13a19658-f5a1-4d9f-b166-3c0797ff2ae8",
      "name": "Local copy is in sync with the remote server?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2420,
        660
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=wget -O /home/node/git/dunkbin-stats-images/public/img/{{ $('Dont process one broken cosmetic').item.json.id }}.png https://dunkbin.com/img/{{ $('Dont process one broken cosmetic').item.json.id }}-{{ $('Dont process one broken cosmetic').item.json.md5 }}.png"
      },
      "name": "Download new image using wget",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1700,
        660
      ],
      "id": "03e597a2-6c3d-4386-95f1-d6d1fc17cfce"
    },
    {
      "parameters": {
        "authentication": "gitPassword",
        "operation": "push",
        "repositoryPath": "/home/node/git/dunkbin-stats-images",
        "options": {
          "targetRepository": "https://github.com/WUOTE/dunkbin-stats-images"
        }
      },
      "id": "40948412-b936-48a2-b60e-54627fc34071",
      "name": "Git",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        2820,
        680
      ],
      "credentials": {
        "gitPassword": {
          "id": "dTHUzg0ej1fsHK10",
          "name": "Git account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Dunkbin_stats_cosmetics_images_V6",
        "height": 532.2912987791854,
        "width": 1598.186186393608,
        "color": 5
      },
      "id": "b758c2f0-7ba5-475b-a2eb-c8058d02d294",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1443.639650204324,
        340.0519539347764
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 23
            }
          ]
        }
      },
      "name": "Cron For Hourly Execution",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        1520,
        440
      ],
      "id": "2545faf4-a608-4335-b740-a8cdb6bed297",
      "notesInFlow": false
    },
    {
      "parameters": {
        "content": "### Background",
        "height": 636.216823153098,
        "width": 1703.9002842635657,
        "color": 7
      },
      "id": "631cc263-2f98-4010-9ae4-53e23aead89a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1400,
        280
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Consume Cosmetics API": {
      "main": [
        [
          {
            "node": "Sort cosmetics by id from newest to oldest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort cosmetics by id from newest to oldest": {
      "main": [
        [
          {
            "node": "Dont process one broken cosmetic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dont process one broken cosmetic": {
      "main": [
        [
          {
            "node": "MD5 - File on Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MD5 - File on Disk": {
      "main": [
        [
          {
            "node": "Are images the same?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are images the same?": {
      "main": [
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download new image using wget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set today's date": {
      "main": [
        [
          {
            "node": "YYYY-MM-DD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YYYY-MM-DD": {
      "main": [
        [
          {
            "node": "git status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git status": {
      "main": [
        [
          {
            "node": "Local copy is in sync with the remote server?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local copy is in sync with the remote server?": {
      "main": [
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "git commit + push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download new image using wget": {
      "main": [
        [
          {
            "node": "Set today's date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git commit + push": {
      "main": [
        [
          {
            "node": "Git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron For Hourly Execution": {
      "main": [
        [
          {
            "node": "Consume Cosmetics API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2699764-3315-4a47-9cb9-6188d074d58a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca3e26fe66692686fea99a2ff03654b1801275568b864201724e6f6c1d03de1f"
  },
  "id": "scha86opOrtUuWno",
  "tags": []
}